html {
	font-size: 16px;
}
body {
	font-family: monospace;
	font-size: 1rem;
}

.app-light {
	background-color: #fff;
	color: #121212;
}
.app-dark {
	color: #fff;
	background-color: #121212;

	.form-control {
		background-color: #333333;
		border-color: lighten(#333333, 20%);
		color: #fff;
	}

	.list-group-item {
		background-color: #333333;
	}
}

html,
body,
#root,
.app {
	height: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.padding-0 {
	padding: 0;
}

.custom-control-label {
	cursor: pointer;
}

.complete {
	text-decoration: line-through;
	color: #666666;
}

.semi-bold {
	font-weight: 600;
}
