html {
	font-size: 16px;
}
body {
	font-family: monospace;
	font-size: 1rem;
}

.app-light {
	background-color: #fff;
	color: #121212;
}
.app-dark {
	color: #fff;
	background-color: #121212;
}

html,
body,
#root,
.app {
	height: 100%;
}
